@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}
.header {
    margin: 60px;
    text-align: center;
}
.header h1 {
    color: #00ced1;
}
.results-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.results-card h3{
    color: #00ced1;
}
table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}

.rwd-table {
    color: #333;
    border-radius: .6em;
    overflow: hidden;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

tr:nth-of-type(even) {
    background: white;
}

th {
    background: #00ced1;
    color: black;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

.graphs {
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        /* font-weight: bold; */
    }

    .graphs {
        margin-left: 0px;
    }

}