<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>EcoPy</title>
   <link rel="stylesheet" href="static/ecopy_successful.css">
</head>
<body>
   <div class="successful-container">
      <header class="successful-header">
         <h2>Uploaded File Succesfully</h2>
         <p>Calculating Energy and carbon footprint of the code</p>
      </header>
      <div class="successful-card">
         <p><b>File Name:</b> {{name}}</p>
         <form method="get" action="/uploader">
            <button id="submit-result" type="submit">See Results</button>
         </form>
      </div>
   </div>
</body>
</html>
