<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>EcoPy</title>
   <link rel="stylesheet" href="static/ecopy.css">
</head>
<body>
   <div class="home-container">
      <header class="home-header">
         <h1>EcoPy</h1>
         <p>Calculating Energy and carbon footprint of the code</p>
      </header>
      <div class="home-card">
         <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
           <header class="home-header-1">
            <h3>Upload your file</h3>
           </header>
            <div class="home-box">
               <header class="home-header-1">
                  <h4>Select File here</h4>
               </header>
               <p>Files Supported: python files (.py)</p>
               <label id="file-upload">
               <input type="file" name="file"/>
                Upload Python File
               </label>
               <div id="file-upload-filename"></div>
               <input class="home-btn" type="submit" />
            </div>
         </form>
         {% if not_uploaded %}
            <p class="error">{{ not_uploaded }}</p>
         {% endif %}
      </div>
   </div>
   <script src="static/template.js"></script>
</body> 
</html>