<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EcoDB</title>
	<link rel="stylesheet" href="../static/query_home.css">
</head>
<body>
	<div class="query-container">
		<header class="query-header">
			<h2>EcoDB</h2>
		</header>
		<div class="query-card">
			<form method="POST" action="{{ url_for('execute_query_helper') }}">
				<div class="query-box">
					<div class="query-wrapper">
						<textarea spellcheck="false" name="query" id="query" placeholder="Enter the Query" rows="10"
							cols="50" autocomplete="off"></textarea>
					</div>
					<input class="query-btn" type="submit" value="Execute Query">
				</div>
			</form>
			{% if not_query %}
			<p class="error">{{ not_query }}</p>
			{% endif %}
		</div>
		<button class="query-btn" onclick="window.location.href='{{ url_for('index')}}'">Go back</button>
	</div>
	
</body>
</html>
